.toggle-button{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:24px;
    width:30px;
    background: transparent;
    border-style: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.toggle-button:focus{
    outline: none;

}

.toggle-button__line {
    width:30px;
    height: 2px;
    background: black;
}