.App {
  position: relative;
  text-align: center;
  display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden;
}

.Toolbar__3SD_Logo {
  display: inline-block;
  width: 7%;
 }


.TsdLogo__Mainpage {
  position: absolute;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}
  
